#content {
    min-height: 100vh;
}

.about-us-page {
    margin: 0;
    /* Elimina cualquier margen */
    padding: 0;
    /* Elimina cualquier relleno */
    width: 100vw;
    /* Asegura que ocupe el ancho completo de la ventana */
}

.about-us-page .container {
    padding: 0;
    /* Elimina el padding predeterminado de Bootstrap */
    margin: 0;
    /* Elimina márgenes predeterminados */
    max-width: 100%;
    /* Asegura que el contenedor ocupe todo el ancho */
    width: 100%;
    /* Lo mismo que arriba, pero más específico */
}